---
import Doc from '@layouts/Doc.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import { defaultLang } from '@/i18n/ui'

export const getStaticPaths = async () => {
  const docs = await getCollection('docs')

  return docs.map((doc) => {
    const [lang, slug] = doc.slug.split('/')

    return {
      params: { slug: lang === defaultLang ? slug : `${lang}/${slug}` },
      props: doc,
    }
  })
}

type Props = CollectionEntry<'docs'>

const doc = Astro.props

const { Content } = await doc.render()
---

<Doc {...doc.data}>
  <div><Content /></div>
</Doc>
