---
// Component Imports
import Button from '@components/Button.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro + UnoCSS</title>
  </head>
  <body>
    <div class='grid place-items-center h-screen content-center'>
      <Button>UnoCSS Button in Astro!</Button>
    </div>
  </body>
</html>
