---
// 是否预渲染,如果是SSR则为false,如果是CSR则为true
export const prerender = true

import Main from '@layouts/Main.astro'
import LoginCarousel from '@components/LoginCarousel'
import LoginForm from '@components/LoginForm'
import AlertBox from '@components/AlertBox'
---

<script>
  import { $isLogin } from '../store/UserStore'

  // 如果已经登录,则跳转到首页
  $isLogin.subscribe((login: boolean) => {
    if (login) {
      window.location.href = '/'
    }
  })
</script>

<Main
  title='Login'
  description='a demo web client app build with astro, solidjs, typescript and unoCSS for Ntex restful api server'
  bgColor='bg-[#D6DBE0]'>
  <AlertBox client:load />
  <div class='min-h-screen flex items-center'>
    <div class='flex bg-white rounded-lg overflow-hidden w-4/5 mx-auto'>
      <div class='w-1/2 relative'>
        <div class='absolute top-1/2 -translate-y-1/2 w-full'>
          <div class='mb-16 space-y-8'>
            <div
              class='flex w-full items-center justify-center gap-x-4 text-4xl p-2'>
              <!-- Use any icon with Pure CSS for UnoCSS. https://unocss.dev/presets/icons -->
              <div class='i-logos-astro w-6em h-2em transform transition-800'>
              </div>
              <div class='text-4xl font-semibold text-gray-700'>+</div>
              <div class='i-logos-unocss w-2em h-2em'></div>
            </div>
            <div
              class='text-4xl font-medium text-center text-blueGray-600 font-serif'>
              Demo Application Login
            </div>
          </div>
          <LoginForm client:load />
        </div>
      </div>
      <div class='bg-blue-600 w-1/2'>
        <img src='/login.svg' alt='login' class='w-3/5 mx-auto my-8' />
        <LoginCarousel client:only />
      </div>
    </div>
  </div></Main
>
