---
import Main from '@layouts/Main.astro'

// 是否预渲染,如果是SSR则为false,如果是CSR则为true
export const prerender = true
---

<Main
  title='Login'
  description='a demo web client app build with astro, solidjs, typescript and unoCSS for Ntex restful api server'
  bgColor='bg-[#D6DBE0]'>
  <div class='min-h-screen flex items-center'>
    <div class='flex bg-white rounded-lg overflow-hidden w-4/5 mx-auto'>
      <div class='w-1/2 p-4'>
        <div>
          <div
            class='flex w-full items-center justify-center gap-x-4 text-4xl p-2 my-8'>
            <!-- Use any icon with Pure CSS for UnoCSS. https://unocss.dev/presets/icons -->
            <div class='i-logos-astro w-6em h-2em transform transition-800'>
            </div>
            <div class='text-4xl font-semibold text-gray-700'>+</div>
            <div class='i-logos-unocss w-2em h-2em'></div>
          </div>
          <div
            class='text-4xl font-semibold text-center text-blueGray-600 mb-8'>
            Demo Application Login
          </div>
        </div>
        <div>
          <form action='' class='w-2/3 mx-auto'>
            <input
              type='email'
              placeholder='Email'
              class='w-full p-2 my-2 border-2 border-gray-300 rounded-md'
            />
            <input
              type='password'
              placeholder='Password'
              class='w-full p-2 my-2 border-2 border-gray-300 rounded-md'
            />
            <div class='flex space-x-2'>
              <input
                type='checkbox'
                id='remember'
                name='remember'
                value='remember'
                class='m-2'
              />
              <label for='remember' class='text-gray-600'>Remember me</label>
            </div>
            <button
              type='submit'
              class='w-full p-2 my-2 bg-blue-500 text-white rounded-md hover:bg-blue-600'>
              Login</button
            >
          </form>
        </div>
      </div>
      <div class='bg-[#2659D0] w-1/2'>
        <img src='/login.svg' alt='login' class='w-3/5 mx-auto my-8' />
        <div
          id='default-carousel'
          class='relative w-full
          data-carousel='
          slide'>
          <!-- Carousel wrapper -->
          <div
            class='relative overflow-hidden space-y-1 h-48 mx-auto text-center mb-8'>
            <!-- item 1 -->
            <div class='duration-700 ease-in-out' data-carousel-item>
              <div
                class='absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'>
                <div class='text-white/80 font-medium text-lg'>
                  Connect with everyone and every application
                </div>
                <div class='text-sm text-white/40'>
                  Everything you need in an easily customizable dashboard.
                </div>
              </div>
            </div>
            <!-- item 2 -->
            <div class='duration-700 ease-in-out' data-carousel-item>
              <div
                class='absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'>
                <div class='text-white/80 font-medium text-lg'>
                  Connect with everyone and every application
                </div>
                <div class='text-sm text-white/40'>
                  Everything you need in an easily customizable dashboard.
                </div>
              </div>
            </div>
            <!-- item 3 -->
            <div class='duration-700 ease-in-out' data-carousel-item>
              <div
                class='absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'>
                <div class='text-white/80 font-medium text-lg'>
                  Connect with everyone and every application
                </div>
                <div class='text-sm text-white/40'>
                  Everything you need in an easily customizable dashboard.
                </div>
              </div>
            </div>
          </div>
          <!-- Slider indicators -->
          <div
            class='absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3'>
            <button
              type='button'
              class='w-2 h-2 rounded-full bg-white/40'
              aria-current='true'
              aria-label='Slide 1'
              data-carousel-slide-to='0'></button>
            <button
              type='button'
              class='w-2 h-2 rounded-full bg-white/40'
              '
              aria-current='false'
              aria-label='Slide 2'
              data-carousel-slide-to='1'></button>
            <button
              type='button'
              class='w-2 h-2 rounded-full bg-white/40'
              '
              aria-current='false'
              aria-label='Slide 3'
              data-carousel-slide-to='2'></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Main>
