---
import Main from '@layouts/Main.astro'
import LoginCarousel from '@components/LoginCarousel'

// 是否预渲染,如果是SSR则为false,如果是CSR则为true
export const prerender = true
---

<Main
  title='Login'
  description='a demo web client app build with astro, solidjs, typescript and unoCSS for Ntex restful api server'
  bgColor='bg-[#D6DBE0]'>
  <div class='min-h-screen flex items-center'>
    <div class='flex bg-white rounded-lg overflow-hidden w-4/5 mx-auto'>
      <div class='w-1/2 relative'>
        <div class='absolute top-1/2 -translate-y-1/2 w-full'>
          <div class='mb-16 space-y-8'>
            <div
              class='flex w-full items-center justify-center gap-x-4 text-4xl p-2'>
              <!-- Use any icon with Pure CSS for UnoCSS. https://unocss.dev/presets/icons -->
              <div class='i-logos-astro w-6em h-2em transform transition-800'>
              </div>
              <div class='text-4xl font-semibold text-gray-700'>+</div>
              <div class='i-logos-unocss w-2em h-2em'></div>
            </div>
            <div
              class='text-4xl font-medium text-center text-blueGray-600 font-serif'>
              Demo Application Login
            </div>
          </div>
          <div>
            <form action='' class='w-2/3 mx-auto'>
              <label for='email' class='text-gray-600'>Email</label>
              <div class='relative mb-4'>
                <div
                  class='absolute top-1/2 -translate-y-1/2 left-2 i-heroicons:envelope-16-solid text-gray-500 w-1.5em h-1.5em'>
                </div>
                <input
                  id='email'
                  type='email'
                  placeholder='your_name@example.com'
                  autocomplete='email'
                  class='w-full px-10 py-2 my-2 border-2 border-gray-300 rounded-md'
                />
              </div>
              <label for='password' class='text-gray-600'>Password</label>
              <div class='relative mb-4'>
                <div
                  class='absolute top-1/2 -translate-y-1/2 left-2 i-heroicons:lock-closed-20-solid w-1.5em h-1.5em text-gray-500'>
                </div>
                <input
                  id='password'
                  type='password'
                  placeholder='Password'
                  class='w-full px-10 py-2 my-2 border-2 border-gray-300 rounded-md'
                />
              </div>

              <div class='flex space-x-2 mb-4'>
                <input
                  type='checkbox'
                  id='remember'
                  name='remember'
                  value='remember'
                  class='m-2'
                />
                <label for='remember' class='text-gray-600'>Remember me</label>
              </div>
              <button
                type='submit'
                class='w-full p-2 my-2 bg-blue-500 text-white rounded-md hover:bg-blue-600'>
                Login</button
              >
            </form>
          </div>
        </div>
      </div>
      <div class='bg-blue-600 w-1/2'>
        <img src='/login.svg' alt='login' class='w-3/5 mx-auto my-8' />
        <LoginCarousel client:only />
      </div>
    </div>
  </div></Main
>
