---
import Main from '@layouts/Main.astro'
import LoginCarousel from '@components/LoginCarousel'
import LoginForm from '@components/LoginForm'
import AlertBox from '@components/AlertBox'
import Logo from '@components/Logo'
import LanguagePicker from '@components/LanguagePicker'
---

<Main
  title='Login'
  description='a demo web client app build with astro, solidjs, typescript and unoCSS for Ntex restful api server'
  bgColor='bg-[#D6DBE0]'>
  <AlertBox client:load />
  <div class='flex justify-end mt-4 mr-4'><LanguagePicker client:only /></div>
  <div class='grid grid-cols-1 place-content-center h-screen'>
    <div class='flex bg-white rounded-lg overflow-hidden w-4/5 mx-auto'>
      <div class='w-1/2 relative'>
        <div class='absolute top-1/2 -translate-y-1/2 w-full'>
          <div class='mb-8'><Logo client:only /></div>
          <LoginForm client:only />
        </div>
      </div>
      <div class='bg-blue-600 w-1/2'>
        <img src='/login.svg' alt='login' class='w-3/5 mx-auto my-8' />
        <LoginCarousel client:only />
      </div>
    </div>
  </div>
</Main>
