---
// 是否预渲染,如果是SSR则为false,如果是CSR则为true
export const prerender = true

// 获取当前年份
const year = new Date().getFullYear()
---

<footer>
  <div class='text-xs text-neutral-500 text-center my-10'>
    Copyright &copy; {year} Elton Zheng
  </div>
</footer>
