---
import Footer from '@/components/Footer.astro'
// 是否预渲染,如果是SSR则为false,如果是CSR则为true
export const prerender = true

interface Props {
  title: string
  description?: string
  bgColor?: string
}

const { title, description = '', bgColor = 'bg-white' } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content={description} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body class={bgColor}>
    <main class='container mx-auto'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
